<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Nextcloud - On This Day</title>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <link rel="manifest" href="/manifest.webmanifest">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Nextcloud On This Day">
    <meta name="apple-mobile-web-app-title" content="Nextcloud On This Day">
    <meta name="theme-color" content="#000">
    <link
      href="/feed.xml"
      rel="alternate"
      type="application/atom+xml"
    />
    <script src="/lazysizes-5.2.0.min.js" async></script>
  </head>
  <body>
    <%= content %>
  </body>
</html>
